# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TeachMeSkills\lessons\31. Spring Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
